
@model ProjectBackend.Models.WordAssetData

@{
    ViewData["Title"] = "Create";
    //Layout = "/Views/Shared/_AdminLayout.cshtml";
}

<h1>Create</h1>

<h4>WordAssetData</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="PathAsset" class="control-label"></label>
                <input asp-for="PathAsset" class="form-control" />
                <span asp-validation-for="PathAsset" class="text-danger"></span>
            </div> *@

            <div class="form-group">
                <label asp-for="TopicDataID" class="control-label"></label>
                <select asp-for="TopicDataID" class ="form-control" asp-items="ViewBag.TopicDataID"></select>
            </div>

            <div class="form-group">
                <label asp-for="SentenceType" class="control-label"></label>
                <input asp-for="SentenceType" class="form-control" />
                <span asp-validation-for="SentenceType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LevelAge" class="control-label"></label>
                <input asp-for="LevelAge" class="form-control" />
                <span asp-validation-for="LevelAge" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type='file' onchange="readURL(this);" name= "FlashCardImage"/>
                <img id="imgPrevFlashcard" src="http://placehold.it/180" alt="your image" style="max-width: 180px;"/>
            </div>

            <div class="form-group">
                <label  class="control-label">Build AssetBundle</label>
                <input type="checkbox" value="true" name="IsNeedToBuildAssetBundle" />
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>


</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imgPrevFlashcard')
                    .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
