@{
    ViewData["Title"] = "Uploader";
}

<h2> Heheeh </h2>
<body>
    <form method="post" enctype="multipart/form-data" asp-controller="Uploader" asp-action="Index">
        <span>Select your file </span>
        <input type="file" name="fileToUpload" />
        <input type="submit" value="Upload"/>

        <br/>
        <span> @Html.Raw(ViewBag.Message)</span>
    
    </form>


</body>